.tipsy {
	padding: 5px;
	font-size: 12px;
	background: no-repeat;
}
.tipsy-inner {
	padding: 4px 5px;
	font-size: 1em;
	color: #cc0000;
	opacity: 0.95;
	-moz-opacity:0.95;
	filter: alpha(opacity=95);
	background-color: #ffeaea;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #e5c3c4;
}
.tipsy-north {
	background-image: url(./images/tipsy-north.gif);
	background-position: top center;
}
.tipsy-south {
	background-image: url(./images/tipsy-south.gif);
	background-position: bottom center;
}
.tipsy-east {
	background-image: url(./images/tipsy-east.gif);
	background-position: right center;
}
.tipsy-west {
	background-image: url(./images/tipsy-west.gif);
	background-position: left center;
}
